@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  /* Global Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300/80 dark:bg-slate-600/80 rounded-full hover:bg-slate-400 dark:hover:bg-slate-500 transition-colors;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
